## Create a new unit-tests.properties.template.<machine-name>
# modify these properties in there to enable tests.
#
#
junit.ConsumerCase.baseDir=@BUILD_DIR@/examples/consumers
junit.ServiceCase.baseDir=@BUILD_DIR@/examples/services
junit.ProducerCase.baseDir=@BUILD_DIR@/examples/producers
junit.WorkflowCase.baseDir=@BUILD_DIR@/examples/workflows
junit.JmsConsumerExamples.baseDir=@BUILD_DIR@/examples/consumers
junit.JmsProducerExamples.baseDir=@BUILD_DIR@/examples/producers
